.container  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 3rem);
    max-width: 1024px;
    margin: 0 auto;
}

.messages {
    background-color: tan;;
    height: 100%;
}