.container-colonne  {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3rem);
    max-width: 1024px;
    margin: 0 auto;
}

.mid-container-margin {
    margin-top: 1em;
    margin-bottom: 1em;
}

.footer-margin {
    margin-top: auto;
}

.input-width {
    width: 30vw;
}
